# deps & builds
node_modules/
**/node_modules/
dist/
**/dist/
build/
**/build/
coverage/
**/coverage/

# logs
logs/
*.log

# env & secrets
.env
.env.*
**/.env
**/.env.*

# editors & OS
.idea/
.vscode/
.DS_Store

# archives
*.zip
*.tar.gz
*.tgz
EOF
